* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(216, 78, 54);
}

h2 {
  color: rgb(247, 246, 246);
  margin-bottom: 20px;
  padding: 12px;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div {
  background-color: rgb(247, 246, 246);
  width: 500px;
  padding: 12px;
  margin: 12px;
  display: flex;
  border-radius: 5px;
}

.div img {
  width: 215px;
  height: 300px;
  padding: 12px;
}

.div p {
  padding: 12px;
  text-align: justify;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  .div {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
}